:host {
    .product-container {
        width: fit-content;
        height: fit-content;
        margin: auto;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        transition: 0.2s all ease;
        cursor: pointer;
    }

    .product-container:hover {
        scale: 1.02;
        transition: 0.2s all ease;
    }

    .text-center {
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        font-size: 18px;
    }

    .product-image {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
}

